.wrapper_exhibition {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
}

.exhibition_titles {
  max-width: 90%;
  text-align: center;
}

.exhibition_intro,
.section_past_exhibitions p {
  max-width: 70ch;
  line-height: 2em;
  padding-left: 3rem;
  padding-right: 3rem;
}

.worksheets_wrapper,
.documentation_wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.worksheet_intro_wrapper,
.worksheet_canvas_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.worksheet_intro_wrapper p,
.worksheet_canvas_wrapper p {
  flex-grow: 2;
}

.button_download_worksheet {
  width: 2em;
  height: 2em;
  background-color: var(--clr-primary);
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
}

.section_past_exhibitions {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section_past_exhibition_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_past_exhibitions figure {
  max-width: 250px;
  cursor: pointer;
}
.section_past_exhibitions img,
.section_past_exhibitions figcaption {
  width: 90%;
  margin-left: auto;
}

/*Exhibition Overlay*/

.exhibitionContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.exhibInfo {
  list-style-type: none;
  padding-left: 0;
}

.exhibInfo li,
.exhibInfo a {
  line-height: 1.25rem;
  margin-top: 0.5rem;
}

.exhibDescription {
  text-align: justify;
}

.exhibitionContent img {
  width: 82%;
  min-width: 320px;
  padding-top: 5%;
  padding-bottom: 5%;
}
