.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header h1 {
  font-size:18px;
  font-weight: 400;
}

.map_contribution {
  display: none;
}

#map_contribution {
  background: rgba(0, 0, 0, 0);
}

.list_contribution {
  display:flex;
  flex-direction: column;
}
.list_contribution figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  margin:0px;
}
.list_contribution img {
  width: 80%;
  padding: 5%;
}
.btn__contribute {
  position: fixed;
  z-index: 1000;
  width: 10%;
  right: 10px;
  bottom: 10px;
}
.btn__contribute img {
  display: block;
  width: 100%;
}
.overlay_contribution, .overlay_submit_form {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    overflow: scroll;
}
.form_submition {
  background-color: #EDE5D8;
  position:fixed;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  max-width: 80%;
  min-width: 20rem;
  padding:5%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

/*contribution overlay*/
.ctnr_contribution {
  background-color: #EDE5D8;
  width: 80%;
  max-width: 30rem;
  min-width: 20rem;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  padding:5%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
.ctnr_contribution img {
  width: 80%;
  padding:5%;
}
.image_info {
  list-style-type: none;
  padding-left: 0;
}
.image_info li {
  line-height: 1.25rem;
  margin-top: 0.5rem;
}
.image_info li:nth-child(3) {
  text-align: justify;
}

/*input overlay*/
.ctnr_img_input {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ctnr_img_input p {
  margin-bottom: 0px;
}
.ctnr_text_input {
  display: flex;
  flex-direction: column;
}
.ctnr_submit_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.7rem;
}
.input {
  border: 1px solid var(--clr-dark);
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.25rem;
  width: 15rem;
}
.input_img {
  height: 15rem;
}
.input_name {
  height: 2.5rem;
}
.input_text {
  margin-top: 0.7rem;
  height: 7.5rem;
}
