/*section_intro*/
.intro_first,
.intro_codex,
.intro_johannes,
.intro_theophil,
.intro_final {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.intro__wrapper {
  height: max-content;
}

.intro_title {
  margin: 0;
  padding: 1rem;
}

.intro_first {
  background-image: url("../img/background/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro_codex {
  background-image: url("../img/background/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro_johannes {
  background-image: url("../img/background/background3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro_theophil {
  background-image: url("../img/background/background4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro_first__button,
.intro_johannes__button,
.intro_theophil__button,
.intro_final__button {
  background-color: none;
  cursor: pointer;
}

.intro_first__text,
.intro_codex__text,
.intro_johannes__text,
.intro_theophil__text,
.intro_final__text {
  line-height: 1.5em;
  text-align: left;
  max-width: 60ch;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
}
