.wrapper_initiate {
  width: 100%;
  padding-bottom: 5rem;
  flex-direction: column;
  align-items: center;
}

.wrapper_initiate p {
  max-width: 70ch;
  padding-left: 5rem;
  padding-right: 5rem;
}

.initiate_fig {
  max-width: 300px;
}

.initiate_figcap {
  font-size: 0.8rem;
}
