.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-dark);
}

.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: var(--clr-light);
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.navbar a {
  color: var(--clr-dark);
}

.navbar a:visited {
  color: var(--clr-dark);
}

.nav__link {
  font-weight: var(--fw-normal);
}

.nav__main {
  width: 100%;
  display: block;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav__title {
  width: 79%;
}

.nav__menu {
  display: none;
}

.nav__menu.active {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-light);
  /*box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);*/
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

details {
  cursor: pointer;
}

.nav__link {
  margin: 0.7rem;
  display: flex;
}

.hamburger {
  display: block;
  position: fixed;
  padding: 1rem;
  top: 0rem;
  right: 0rem;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
