.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-dark);
}

.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: var(--clr-light);
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav__link {
  font-weight: var(--fw-normal);
}

.nav__main {
  width: 100%;
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0.5rem 0;
}

.nav__title {
  width: 79%;
}

.nav__menu {
  display: none;
}

.nav__menu.active {
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: var(--clr-light);
  /*box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);*/
}

.nav__link {
  margin: 1.5rem 0;
}

.hamburger {
  display: block;
  position: fixed;
  padding: 1rem;
  top: 0rem;
  right: 0rem;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
