.mode_switch, .plant_list {
  justify-content: center;
}

.mode_switch {
  display: flex;
  position: sticky;
  top: 10px;
  z-index:700;
}

.map_plant_list {
  display: none;
}

.plant_list {
  display: flex;
  flex-flow: wrap;
}

.tumbnail_card {
  position:relative;
}

.tumbnail_card img{
  display: block;
  max-height: 300px;
  padding: 5px;
}

figcaption {
    text-align: center;
}

.map {
  width: 80%;
  height: 80%;
  margin: 2rem auto;
}

#map_plant_list {
  background: rgba(255,0,0,0.0);
}
