*,
*::before,
*::after {
  box-sizing: content-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0px;
}

:root {
  --clr-primary: #dcd0c0;
  --clr-light: #fff7f2;
  --clr-dark: #7b3016;

  --clr-journal-light: #f3fbf3;
  --clr-journal-dark: #002f0c;

  --clr-exhibition-light: #eff3f6;
  --clr-exhibition-dark: #000080;

  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}

a:visited {
  color: var(--clr-dark);
}

ul {
  list-style: none;
}
