/*section_intro*/
.intro_first,
.intro_codex,
.intro_johannes,
.intro_theophil,
.intro_final {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.intro__wrapper {
  height: max-content;
}

.button .intro_title {
  margin: 0;
  padding: 1rem;
}

.intro_first__text,
.intro_codex__text,
.intro_johannes__text,
.intro_theophil__text,
.intro_final__text {
  line-height: 1.5em;
  text-align: left;
  max-width: 60ch;
  margin-bottom: 2rem;
}
