.overlay {
  position: fixed; /*Sit on top of the page content */
  display: none; /*Hidden by default */
  z-index: 1001;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  cursor: pointer; /* Add a pointer on hover */
  overflow: scroll;
}

.contribution__wrapper,
.takePhoto__wrapper,
.cropImg__wrapper,
.addImg__wrapper,
.preview__wrapper {
  position: relative;
  background-color: #ede5d8;
  width: 80%;
  max-width: 30rem;
  min-width: 20rem;
  margin: auto; /* Will not center vertically and won't work in IE6/7. */
  padding: 5%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

/*contribution Overlay*/
.contributedContent {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.contribution__image {
  width: 80%;
  padding: 5%;
}
.contribution__info {
  list-style-type: none;
  padding-left: 0;
}

.contribution__info li,
.preview__info li {
  line-height: 1.25rem;
  margin-top: 0.5rem;
}
.contribution_story,
.preview__story {
  text-align: justify;
}

/*Take Photo Overlay
.camera {
  width: 85%;
  min-width: 320px;
}
.video {
  display: block;
  width: 100%;
}
*/

/*cropImg Overlay*/

.fileInput {
  display: block;
}

.canvas_container {
  width: 85%;
  min-width: 320px;
  display: flex;
}

.canvas_container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/*input overlay*/
.adding__form {
  background-color: #ede5d8;
  margin: auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  max-width: 80%;
  min-width: 20rem;
  padding: 5%;
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.adding__form_text_input_wrapper {
  display: flex;
  flex-direction: column;
}
.adding__button_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.7rem;
}
.input {
  border: 1px solid var(--clr-dark);
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.25rem;
  width: 15rem;
}
.adding__form__img_input {
  height: 15rem;
  margin: 0.7rem 0.7rem;
}

.adding__form_text_input_plant_name,
.adding__form_text_input_scientific_name,
.adding__form_text_input_author {
  height: 2.5rem;
  margin: 0.7rem;
}
.adding__form_text_input_story {
  margin: 0.7rem;
  height: 10rem;
}

/*Preview Overlay*/
.preview__info,
.preview__plantName,
.prview__author,
.preview__story {
  display: block;
}
